nav-bar {
  .search-wrapper {
    margin-left: 20px;
    margin-top: 4px;

    .btn-reset {
      margin-left: -5px;
    }

    .search-input {
      border: 0;
      margin-left: 3px;
      padding: 2px 3px;
      border-radius: 3px;
      font-size: 1.125rem;
      background-color: rgb(165,214,167);
      color: #ffffff;
    }
  }

  .btn-account {
    font-size: 1rem;
    font-weight: bold;
    color: rgba(67, 128, 71, 1);
  }
}

md-menu-content {

  .user-name, .user-email {
    padding: 0 8px;
  }
}